<!-- This file serves as a backup to inst/pkgdown/_pkgdown.yml -->

<div class="links">
<h2>Links</h2>
<ul class="list-unstyled">
<li><a href="https://github.com/amslala/regkit/">Browse source code</a>
</li>
<li><a href="https://github.com/amslala/regkit/issues">Report a bug and contribute</a>
</li>
</ul>
</div>

<div class="sidebar">
<h2>License</h2>
<ul class="list-unstyled">
<li><a href="LICENSE.html">Full License</a>
</li>
<li><a class="external-link" href = "https://opensource.org/licenses/mit-license.php">MIT</a>
<small>
  + file
<a href="LICENSE-text.html">LICENSE</a>
</li>
</ul>
</div>

<div class="Citation">
<h2>Citation</h2>
<ul class="list-unstyled">
<li><a href="authors.html#citation">Citing regkit</a>
</li>
</ul>
</div>

<div class="Developers">
<h2>Developers</h2>
<ul class="list-unstyled">
<li> Alejandra Martinez Sanchez
<br>
<small class="roles">Author and Maintener</small>
</li>
<li> Johanne Hagen Pettersen
<br>
<small class="roles">Author</small>
</li>
<li> Helga Ask
<br>
<small class="roles">Author</small>
</li>
<li> Alexandra Havdahl
<br>
<small class="roles">Author</small>
</li>
<li> Laurie John Hannigan
<br>
<small class="roles">Author</small>
</li>
</ul>
</div>


<div class="dev-status">
<h2>Devstatus</h2>
<ul class="list-unstyled">
<li><a class = "external-link" href = "https://app.codecov.io/gh/amslala/regkit">
<img scr="https://codecov.io/gh/amslala/regkit/graph/badge.svg" alt="Codecov test coverage")>
</a>
</li>
</ul>
</div>
