<!-- This file serves as a backup to inst/pkgdown/_pkgdown.yml -->

<div class="links">
<h2>Links</h2>
<ul class="list-unstyled">
<li><a href="https://github.com/amslala/regtools/">Browse source code</a>
</li>
<li><a href="https://github.com/amslala/regtools/issues">Report a bug and contribute</a>
</li>
</ul>
</div>

<div class="sidebar">
<h2>License</h2>
<ul class="list-unstyled">
<li><a href="LICENSE.html">Full License</a>
</li>
<li><a class="external-link" href = "https://opensource.org/licenses/mit-license.php">MIT</a>
<small>
  + file
<a href="LICENSE-text.html">LICENSE</a>
</li>
</ul>
</div>

<div class="Citation">
<h2>Citation</h2>
<ul class="list-unstyled">
<li><a href="authors.html#citation">Citing regtools</a>
</li>
</ul>
</div>

<div class="Developers">
<h2>Developers</h2>
<ul class="list-unstyled">
<li>Alejandra Martinez Sanchez
<br>
<small class="roles">Maintener</small>
</li>
</ul>
</div>


<div class="dev-status">
<h2>Devstatus</h2>
<ul class="list-unstyled">
<li><a class = "external-link" href = "https://app.codecov.io/gh/amslala/regtools">
<img scr="https://codecov.io/gh/amslala/regtools/graph/badge.svg" alt="Codecov test coverage")>
</a>
</li>
</ul>
</div>
